* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    width: auto;
    height: auto;
    padding: 10px 10px;
    margin:5px;
}

header{
    display:flex;
    flex-direction: column;
    width:auto;
    height: 400px;
    align-items: center;
    margin: 5px;
    border-radius: 50px;
    padding: 50px;
    margin-bottom: 20px;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

header::before{
    background-image: url('img/vista.jpg');
    filter: blur(2px);
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background-size: cover;
        transform: scale(1.1);
}

h1{
    color:rgb(230, 225, 225);
    text-align:center;
    padding: 5px;
    font-weight: 900;
    font-size: 50px;
    margin-bottom: 0px;
    margin-top: 50px;
}

#subtitulo{
    color:green;
    text-align:center;
    margin:2px;
    font-size: 25px;
}


main{
    background-color:rgb(175, 197, 170);
    width:auto;
    height:auto;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 20px;
}

#registro{
    color:black ;
    font-size: 30px;  
    padding: 10px;
    text-align: justify;
    margin-left: 10px;
}

section#agregar_producto{
    color:rgb(7, 7, 7);
    display: flex;
    flex-direction: column;
    text-align:justify;
    margin-left: 20px;
    margin-top: 5px;
}

form{
    background-color: rgb(139, 139, 143);
    margin: 0px;
    padding: 2px;
    border-radius: 5px;
    padding-bottom: 25px;
}

.contenedor-inputs{
    width: auto;
    padding: 20px;
    border-radius: 5px;
    
}


label{
    color:black;
    font-size: 15px;
    padding: 5px;
    margin:5px;
    display: inline-block;
    width: 90px;
}

input{
    width: 400px;
    height:30px;
    border-radius: 5px;
    border: 1px solid black;
    text-align: justify;
    padding: 5px;
    margin: 8px;
}

button{
    background-color: aqua;
    width: 100px;
    height:30px;
    border-radius: 5px;
    border: 1px solid black;
    margin-left:25px;
    margin-top: 2px;
}

.section#inventario{
    color:rgb(10, 10, 10);
    display: flex;
    flex-direction: column;
    text-align:justify;
    margin-left: 20px;
    margin-top: 20px;
}

h2{
    color:black;
    text-align: left;
    margin-bottom: 15px;
    font-size: 30px;
    font-weight: normal;
    margin-top: 30px;
    margin-left: 20px;
}

ul{
    list-style-type: none;
    padding: 0px;
}

li{
    background-color: white;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
    margin-left: 20px;
}

section#inventario ul li p{
    color: black;
    font-size: 15px;
    padding: 10px;
}

section#inventario ul li p span{
    color: black;
    font-size: 15px;
    margin-left:5px;
}

section#inventario ul li button{
    color: black;
    font-size: 14px;
    margin-left:5px;
    margin-bottom: 10px;
    margin-top: 10px;
}

section#resumen_de_inventario{
    color:black;
    display: flex;
    flex-direction: column;
    text-align:justify;
    margin-left: 20px;
    margin-top: 10px; 
    margin-bottom: 20px;  
}

section#resumen_de_inventario h3{
    margin-top: 20px;
    font-size:25px;
    font-weight: 600;
    padding: 5px;
}

section#resumen_de_inventario p{
    color:black;
    font-size: 20px; 
    padding: 5px;
}

span{
    color:black;
    font-size: 20px;
    margin-left: 5px;
}

footer{
    background-color:rgba(40, 168, 177, 0.945);
    width: auto;
    height: auto;
    text-align: center;
    padding:0px;
    border-radius: 10px;
}

.contenedor-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgba(40, 168, 177, 0.945);
    padding:40px;
    border-radius: 10px;
    margin-bottom: 0px;
    margin-top: 20px;
    height: 250px;
}

.footer-content{
    color: rgb(252, 252, 251);
    font-size: 15px;
    padding: 30px;
    background-color: rgba(40, 168, 177, 0.945);
    margin-left: 5px;
    margin-top: 10px;
    height: 200px;
}

.footer-content h3{
    color: rgb(250, 250, 248);
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: normal;
}

.footer-content p{
    color:rgb(240, 245, 243);
    font-size: 15px;
    margin-bottom: 8px;
}


.footer-content ul li{
    padding: 0px;
    margin: 10px;
    background-color: rgba(40, 168, 177, 0.945);
    width: auto;
    height: auto;
}

.bottom-bar {
    text-align: center;          
    color: rgb(243, 243, 243);           
    font-size: 14px;
    padding: 0px;
    background-color: rgba(40, 168, 177, 0.945);
    border-radius: 10px;
    height: auto;
}

.bottom-bar p {
    background-color: rgba(42, 66, 68, 0.945);
    width: auto;
    height: 40px;
    border-radius: 10px;
    padding: 10px;
}






















    

