* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    width: auto;
    height: auto;
    padding: 1px 1px;
    margin:5px;
}

header{
    display:flex;
    flex-direction: column;
    width:auto;
    height: 700px;
    align-items: center;
    border-radius: 50px;
    padding: 50px;
    margin-bottom: 5px;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

header::before{
    background-image: url('imagenes/logo-empresa.png');
    filter: blur(1px);
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background-size: cover;
        transform: scale(1.1);
}

h1{
    color: yellow;
    opacity: 0.4;
    text-align:center;
    padding: 5px;
    font-weight: 900;
    font-size: 50px;
    margin-bottom: 0px;
    margin-top: 50px;
}

#subtitulo{
    color:rgb(98, 138, 98);
    opacity: 0.4;
    text-align:center;
    margin:2px;
    font-size: 25px;
}

main{
    background-color:rgb(175, 197, 170);
    width:auto;
    height:auto;
    margin-bottom: 5px;
    border-radius: 10px;
    padding: 15px;
}

#registro{
    color:black ;
    font-size: 30px;  
    padding: 1px;
    text-align: justify;
    margin-bottom: 5px;
}

section#agregar_producto{
    color:rgb(7, 7, 7);
    display: flex;
    flex-direction: column;
}

#formulario_producto{
    display:flex;
    flex-direction:column;
    align-items: center;
    background-color: rgb(139, 139, 143);
    padding: 5px;
    border-radius: 5px;
    padding-bottom: 25px;
}

.contenedor-inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    padding: 20px;
    border-radius: 5px;  
}

label{
    color:black;
    font-size: 15px;
    padding: 2px;
    margin-bottom: 5px;
    display: inline-block;
    width: 90px;
}

input {
    width: 400px;
    height:30px;
    border-radius: 5px;
    border: 1px solid black;
    text-align: justify;
    padding: 5px;
    margin: 8px;
}

/* Estilo general para el input de archivo */
input[type="file"] {
    width: 400px;
    height: 30px;
    background-color: white; 
    border: 1px solid black;
    border-radius: 5px;
    display: inline-flex;    
    align-items: center;
    padding: 0px;        
    overflow: hidden;    
}


input[type="file"]::file-selector-button {
    background-color: #f0f0f0; 
    border: none;             
    border-right: 1px solid black;
    height: 100%;              
    padding: 0 15px;           
    margin-right: 10px;
    font-family: inherit;   
    color: rgb(114, 112, 112);   
    transition: background-color 0.2s ease;
}

input[type="file"]::file-selector-button:hover {
    background-color: #cecdcd;
}

button {
    background-color: aqua;
    width: auto;
    height:auto;
    border-radius: 5px;
    margin-left:25px;
    margin-top: 2px;
}

.btn-agregar {
    background-color: aqua;
    color: rgb(12, 12, 12);
    border: none;
    padding: 5px;
    border-radius: 5px;
    cursor:pointer;
    width:100px;
    height: 30px;
    border: 1px solid black;
}

.btn-agregar:hover{
    background-color:rgb(14, 190, 190);
    transform: scale(1.05);
}

section#editar_producto{
    width: 70%;
    margin:auto;
    margin-top: 40px;
    background-color: rgb(241, 227, 227);
    padding: 30px;
    border-radius: 10px;
}

.btn-guardar{
    background-color: aqua;
    color: rgb(12, 12, 12);
    border: none;
    padding: 5px;
    border-radius: 5px;
    cursor:pointer;
    width:100px;
    height: 30px;
    margin-top: 15px;
    border: 1px solid black;
}

.btn-guardar:hover{
    background-color:rgb(14, 190, 190);
    transform: scale(1.05);
}

.container-busqueda {
    background-color: rgb(241, 227, 227);
    width: auto;
    height: auto;
    padding: 5px;
    margin-top: 5px;
    border-radius: 5px;
}

.form-busqueda {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
}

.titulo-busqueda {
    color: black;
    font-size:15px;
    font-family: cursive;
    padding: 5px;
    margin: 3px;
}

input#buscar-producto{
    display: flex;
    align-items: center;
    width: 500px;
    height:30px;
    border-radius: 5px;
    border: 1px solid black;
    padding: 10px;
    margin: 3px;
}

.btn-buscar{
    background-color: aqua;
    color: black;
    border: 1px solid black;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 90px;
    height: 30px;
    margin:3px;
}

.btn-buscar:hover{
    background-color: rgb(14, 190, 190);
    transform: scale(1.05);
}

.form-filtros{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5px;
    margin-bottom: 2px;
}

select{
    color: black;
    border: 1px solid black;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    height: 30px;
    margin: 3px;
}

.orden-filtro{
    background-color: yellow;
}

.stock-filtro{
    background-color: rgb(120, 180, 120);
}

.btn-filtro{
    background-color: aqua;
    color: black;
    border: 1px solid black;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 90px;
    height: 30px;
    margin:3px;
}

.btn-filtro:hover{
    background-color: rgb(14, 190, 190);
    transform: scale(1.05);
}

section#inventario{
    color:rgb(10, 10, 10);
    display: flex;
    flex-direction: column;
    text-align:center;
    margin-top: 15px;
    padding: 1px;
    width: auto;
}

h2{
    color:black;
    text-align: left;
    font-size: 30px;
    font-weight: normal;
}

.mensaje-exito{
    background-color: lightgreen;
    color: darkgreen;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
}

.header-inventario {
    display: flex;
    justify-content: space-between;
    align-items: justify;
    padding-left: 2px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.logout-container {
    display: flex;
    justify-content: flex-end;
    padding: 2px;
}

.btn-logout {
    background-color: rgb(242, 242, 243);
    color: black;
    border: 1px solid black;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;
}

.btn-logout:hover {
    background-color: rgb(130, 175, 243);
    transform: scale(1.05);
}

.btn-papelera{
    background-color: rgb(242, 242, 243);
    color: black;
    border: 1px solid black;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    width: auto;
    height: auto;
    display: flex;
    text-align: justify;
}

.btn-papelera:hover{
    background-color: rgb(130, 175, 243);
    transform: scale(1.05);
}

ul{
    list-style-type: none;
    padding: 1px; 
}

li{
    background-color: white;
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    height: auto;
}

.imagen-producto{
    width: 400px;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
    flex-shrink: 0;
}

.info-producto {
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex-grow: 1;
    margin-left: 5px;
    margin-right: 5px;
    background-color: yellow;
    width: auto;
    height: auto;
    padding: 50px;
    border-radius: 5px;
}

.info-producto p {
    margin: 12px;
    color: black;
    font-size: 15px;
    text-align: left;   
}

.info-producto p span {
    color: rgb(122, 122, 122);
    margin-left: 5px;
}

.action-producto {
    background-color: rgb(245, 244, 244);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    flex-shrink: 0;
    padding: 20px;
    width: auto;
    height: 300px;
}

.form-accion {
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: auto;
    margin-bottom: 5px;
} 

.btn-desactivar{
    background-color:aqua;
    color: black;
    border: 1px solid black;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    cursor: pointer;
    width: 100px;
    height: 30px;
     margin-left: 5px;
}

.btn-desactivar:hover{
    background-color:rgb(14, 190, 190);
    transform: scale(1.05);
}

.btn-editar{
   background-color:aqua;
    color: black;
    border: 1px solid black;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    cursor: pointer;
    width: 100px;
    height: 30px;
    margin-left: 5px; 
}

.btn-editar:hover{
    background-color:rgb(14, 190, 190);
    transform: scale(1.05);
}

section#resumen_de_inventario{
    color:black;
    display: flex;
    flex-direction: column;
    text-align:justify;
    margin-top: 5px; 
    padding: 1px;
}

section#resumen_de_inventario h3 {
    font-size:25px;
    font-weight: 600;
    padding: 1px;
}

section#resumen_de_inventario p{
    color:black;
    font-size: 20px; 
    padding: 1px;
    margin-bottom: 5px;
}

span{
    color:black;
    font-size: 20px;
    margin-left: 5px;
}

footer{
    background-color:rgba(40, 168, 177, 0.945);
    width: auto;
    height: auto;
    text-align: center;
    border-radius: 10px;
}

.contenedor-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding:20px;
    border-radius: 10px;
    height: 250px;
}

.footer-content{
    color: rgb(252, 252, 251);
    font-size: 15px;
    padding: 30px;
    margin: 5px;
    justify-content: center;
    display: flex;
    flex-direction:column;
}

.footer-content h3 {
    color: rgb(250, 250, 248);
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: normal;
}

.footer-content p {
    color:rgb(240, 245, 243);
    font-size: 15px;
    margin-bottom: 8px;
}

.redes-sociales {  
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.redes {    
    background-color: rgba(40, 168, 177, 0.945);
    padding: 1px;
    width: auto;
    height: auto;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 1px;
}

.redes a {
    background-color: black;
    color: rgb(252, 252, 251);
    padding: 1px;
    border-radius: 5px;
    margin: 1px;
    text-decoration: none;
    font-size: 15px;
}

 .footer-content ul li a i:hover {
    color:chartreuse;
    transform: scale(1.2);
 }

.bottom-bar {
    text-align: center;          
    color: rgb(243, 243, 243);           
    font-size: 15px;
    border-radius: 10px;
    height: auto;
}

.bottom-bar p {
    background-color: rgba(42, 66, 68, 0.945);
    width: auto;
    height: 40px;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
    padding: 10px;
}

section#login{
    width: 40%;
    margin: auto;
    margin-top: 100px;
    background-color: rgb(241, 227, 227);
    padding: 30px;
    border-radius: 10px;
}

#form-login{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(139, 139, 143);
    padding: 30px;
    border-radius: 5px;
}

.grupo-login{
    margin-bottom: 20px;
}

.btn-login{
    background-color: aqua;
    border: 1px solid black;
    width: 120px;
    height: 35px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-login:hover{
    background-color: rgb(14, 190, 190);
    transform: scale(1.05);
}





















    

