<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Ganancias Totales</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <h1 id="ganancias">💰 Resumen de Ganancias</h1>

    <h2>
        📅 Hoy:
        $ {{ "{:,.0f}".format(hoy) }}
    </h2>

    <h2>
        📆 Este Mes:
        $ {{ "{:,.0f}".format(mes) }}
    </h2>

    <h2>
        🗓️ Este Año:
        $ {{ "{:,.0f}".format(anio) }}
    </h2>

</body>

</html>