<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Ganancias Totales</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='ganancias.css') }}">
</head>

<body>

    <h1 id="ganancias">💰 Resumen de Ganancias</h1>

    <h2 class="resumen">
        📅 Hoy:
        <span class="precio">$ {{ "{:,.0f}".format(hoy) }}</span>
    </h2>

    <h2 class="resumen">
        📆 Este Mes:
        <span class="precio">$ {{ "{:,.0f}".format(mes) }}</span>
    </h2>

    <h2 class="resumen">
        🗓️ Este Año:
        <span class="precio">$ {{ "{:,.0f}".format(anio) }}</span>
    </h2>

</body>

</html>