<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>APP DE GESTION DE INVENTARIO</title>
    <script src="https://kit.fontawesome.com/52c26b3b71.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/style.css">
</head>


<body>

    <header>
        <h1>INVENTARIO AVA</h1>
        <h2 id="subtitulo">Todo un sistema de gestion de productos</h2>
    </header>


    <main class="contenido_principal">
        <P id="registro">Registra el producto que deseas agregar al inventario</P>
        <section id = "agregar_producto">
            <form id="formulario_producto" action="/guardar-producto" method="post" enctype="multipart/form-data">
                <div class="contenedor-inputs">
                    <div class="Registro">
                        <label for="nombre">Nombre</label>
                        <input id="nombre" type="text" name="nombre" required placeholder="Ingrese el nombre del producto:">
                    </div>

                    <div class="Registro">
                        <label for="precio">Precio</label>
                        <input id="precio" type="number" name="precio" required placeholder="Ingrese el precio del producto:">
                    </div>

                    <div class="Registro">
                        <label for="cantidad">Cantidad</label>
                        <input id="cantidad" type="number" name="cantidad" required placeholder="Ingrese la cantidad de productos:">
                    </div>

                    <div class="Registro">
                        <label for="descripcion">Descripción</label>
                        <input id="descripcion" type="text" name="descripcion" required placeholder="Ingrese la descripción del producto:">
                    </div>

                    <div class="Registro">
                        <label for="imagen">Imagen</label>
                        <input id="imagen" type="file" name="imagen" accept="image/*">
                    </div>
                
                </div>
                <button class="btn-agregar" type="submit">Guardar</button>
            </form>
        </section>

        <div class="container-busqueda">
            <form action="/" method="get" class="form-busqueda">
                <p class="titulo-busqueda">Busqueda Avanzada</p>
                <input id="buscar-producto" type="text" name="buscar" placeholder="Buscar Producto">


                <button class="btn-buscar" type="submit">
                    Buscar
                </button>
            </form>

            <form action="/" method="get" class="form-filtros">

                <select class="orden-filtro" name="orden">
                    <option value="">Ordenar</option>
                    <option value="nombre_asc">Nombre (A-Z)</option>
                    <option value="precio_mayor">Precio Mayor</option>
                    <option value="precio_menor">Precio Menor</option>
                </select>

                <select class="stock-filtro" name="stock">
                    <option value="">Stock</option>
                    <option value="bajo">Stock Bajo</option>
                    <option value="alto">Stock Alto</option>
                </select>

                 <button type="submit" class="btn-filtro">Filtrar</button>

             </form>
        </div>


        <section id="inventario">

           <div class="header-inventario">
                <h2>Caracteristicas del Productos</h2>

                <div class="logout-container">

                    <a href="/logout" class="btn-logout">
                        Cerrar Sesión
                    </a>
                </div>
           </div>

            {% with mensajes = get_flashed_messages() %}
                {% if mensajes %}

                        {% for mensaje in mensajes %}
                            <p class="mensaje-exito">
                                {{ mensaje }}
                            </p>
                        {% endfor %}
                  
                {% endif %}
            {% endwith %}

            <div class="header-inventario">
                <a href="/papelera" class="btn-papelera">🗑 Ver papelera</a>
            </div>

            <ul id="lista-productos">
                {% for producto in productos %}

                <li id="producto-{{producto[0]}}">

                    {% if producto[7] %}
                    <img 
                        class="imagen-producto"
                        src="{{ url_for('static', filename='imagenes/' + producto[7]) }}"
                        alt="Imagen producto"
                    >   
                    {% else %}  

                    <img 
                        class="imagen-producto"
                        src="{{ url_for('static', filename='imagenes/vista.jpg') }}"
                        alt="Sin imagen disponible"
                    >

                    {% endif %}

                    <div class="info-producto">
                        <p>Nombre: <span class="dato-nombre">{{producto[1].title()}}</span></p>
                        <p>Precio: <span class="dato-precio">{{ "{:,.0f}".format(producto[2]) }}</span></p>
                        <p>Cantidad: <span class="dato-cantidad">{{producto[3]}}</span></p>
                        <p>Descripción: <span class="dato-descripcion">{{producto[4].title()}}</span></p>
                    </div>

                    <div class="action-producto">
                        <form class="form-accion" action="/desactivar-producto/{{producto[0]}}" method="post">
                            <button class="btn-desactivar" type="submit" 
                            onclick="return confirm('¿Desea Desactivar Este Producto?');">
                                Desactivar</button>
                        </form>
                   

                        <form action="/editar-producto/{{producto[0]}}" method="get">
                            <button class="btn-editar" type="submit">
                                Editar
                            </button>   
                        </form>
                    </div>
                </li>

                {% endfor %}

            </ul>
        </section>

        <section id="resumen_de_inventario">
            <h3>Resumen de inventario</h3>

            <p>📦Total de Productos:
                <strong>{{resumen[0]}}</strong> <span id="total_productos"></span>
            </p>

            <p>💰Valor Total Inventario: 
                <strong>${{ "{:,.0f}".format(resumen[1]) }}</strong>
                <span id="valor_total_inventario"></span>
            </p>
        </section>

    </main>

    <footer>
        <div class="contenedor-footer">
            <div class="footer-content">
                <h3>Contactos</h3>
                <p>Email: felipevalencia0722@gmail.com</p>
                <p>Telefono: +57 317 281 84 84 </p>
                <p>direccion: Calle 123 #45-67</p>
            </div>
    
            <div class="footer-content">
                <h3>Redes Sociales</h3>
                 <ul class="redes-sociales">
                    <li class="redes"><a href="https://wa.me/+573163669301" target="_blank"><i class="fab fa-whatsapp"></i></a></li>
                    <li class="redes"><a href="" target="_blank"><i class="fab fa-instagram"></i></a></li>
                    <li class="redes"><a href="https://www.facebook.com/felipevalencia" target="_blank"><i class="fab fa-facebook"></i></a></li> 
                 </ul>    
            </div>    
         </div>  
         <div class="bottom-bar">
            <p>Derechos reservados © 2026</p>
         </div>
    </footer>
</body>
</html>
