<!DOCTYPE html>
<html>
<head>
    <title>Top Productos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='top-productos.css') }}">
</head>
<body>

    <h1 id="top-producto">🏆 Productos Más Vendidos</h1>

    <table border="1">

    <tr>
        <th>Producto</th>
        <th>Cantidad Vendida</th>
    </tr>

    {% for producto in productos %}

    <tr>

        <td>{{ producto[0] }}</td>

        <td>{{ producto[1] }}</td>

    </tr>

    {% endfor %}

    </table>

</body>
</html>